/* Must come before any button styles. */
/* Copy-pasted (and edited) from: */
/* https://gist.github.com/MoOx/9137295 */
.chartogram__reset-button {
	border: none;
	margin: 0;
	padding: 0;
	width: auto;
	overflow: visible;
	background: transparent;

	outline: none;
	cursor: pointer;

	/* inherit font & color from ancestor */
	color: inherit;
	font: inherit;

	/* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
	line-height: normal;

	/* Corrects font smoothing for webkit */
	-webkit-font-smoothing: inherit;
	-moz-osx-font-smoothing: inherit;

	/* Corrects inability to style clickable `input` types in iOS */
	-webkit-appearance: none;

	/* Removes iOS Safari blue highlight on tap. */
	-webkit-tap-highlight-color:  rgba(255, 255, 255, 0);

	/* Disable "double tap to zoom" in iOS Safari. */
	touch-action: manipulation;
}

/* Remove excess padding and border in Firefox 4+ */
.chartogram__reset-button::-moz-focus-inner {
	border: 0;
	padding: 0;
}

.chartogram {
	--chartogram-canvas-height: 22em;
	--chartogram-background-color: white;
	--chartogram-font-size: 16px;
	--chartogram-stroke-width-bold: 3px;
	--chartogram-stroke-width-normal: 2px;
	--chartogram-stroke-width-light: 1px;
	--chartogram-x-axis-labels-padding-top: 0.7em;
	--chartogram-y-axis-labels-padding-bottom: 0.5em;
	--chartogram-timeline-overlay-color: rgba(245,247,250,0.85);
	--chartogram-timeline-window-border-color: rgba(0,106,146,0.12);
	--chartogram-content-color: inherit;
	--chartogram-content-color-lighter: #b0b0b0;
	--chartogram-content-color-light: #dadada;
	--chartogram-content-color-very-light: #f0f0f0;
	--chartogram-button-active-color: #f5f5f5;
	--chartogram-tooltip-background-color: var(--chartogram-background-color);
	--chartogram-night-mode-transition-duration: 300ms;

	/* Prevents text selection when clicking and dragging the timeline window. */
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;

	font-size: var(--chartogram-font-size);
}

.chartogram--night-mode {
	--chartogram-background-color: rgb(36,47,62);
	--chartogram-content-color: white;
	--chartogram-content-color-lighter: #546778;
	--chartogram-content-color-light: #344658;
	--chartogram-content-color-very-light: #313d4d;
	--chartogram-button-active-color: var(--chartogram-content-color-light);
	--chartogram-timeline-overlay-color: rgba(31,45,63,0.72);
	--chartogram-timeline-window-border-color: rgba(147,220,255,0.2);
	--chartogram-tooltip-background-color: #293544;

	color: var(--chartogram-content-color);
}

.chartogram__top-border {
	width: 100%;
	height: 0.85em;
	margin-bottom: calc(0.85em + 1em);
	transition: all var(--chartogram-night-mode-transition-duration);
	/* Gradients don't support transitions. */
	background-color: var(--chartogram-background-color);
	/* Using `rgba(255,255,255,0)` instead of `transparent` to work around Safari bug. */
	/*background-image: linear-gradient(var(--chartogram-background-color), var(--chartogram-background-color-transparent));*/
}

.chartogram__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.chartogram__title {
	margin: 0;
	padding-left: 0.25em;
	font-size: 145%;
	transition: all var(--chartogram-night-mode-transition-duration);
}

.chartogram__plan-with-axes {
	overflow: hidden;
	/* Side padding added to prevent graph (and tooltip points) cutting and sides. */
	margin-left: calc(-1 * var(--chartogram-stroke-width-bold) * 5 / 2);
	margin-right: calc(-1 * var(--chartogram-stroke-width-bold) * 5 / 2);
	padding-left: calc(var(--chartogram-stroke-width-bold) * 5 / 2);
	padding-right: calc(var(--chartogram-stroke-width-bold) * 5 / 2);
	/* Padding bottom added for the X axis labels. */
	padding-bottom: calc(var(--chartogram-x-axis-labels-padding-top) + var(--chartogram-font-size));
}

.chartogram__plan {
	position: relative;
	display: flex;
	flex-direction: column;
	font-size: var(--chartogram-font-size);
}

/* "canvas wrapper" is only used to position tooltip points relative to canvas height.
   If tooltip points were SVG <circle/>s and not <div/>s then they'd be inside the canvas
   and `.chartogram__canvas-wrapper` would be removed. */
.chartogram__canvas-wrapper {
	position: relative;
	/* `display: flex` removes the weird whitespace at the bottom. */
	display: flex;
}

.chartogram__canvas {
	width: 100%;
	height: var(--chartogram-canvas-height);
	/* Don't crop graphs on canvas edges. */
	/* Also don't crop the bottom-most grid line. */
	overflow: visible;
	/* Prevent the web browser from handling this touch event. */
	/* https://developer.mozilla.org/en-US/docs/Web/CSS/touch-action */
	/* iOS Safari only supports `none` and `manipulation`. */
	/* https://caniuse.com/#search=touch-action */
	touch-action: none;
	touch-action: pan-y pinch-zoom;
}

.chartogram__x, .chartogram__y {
	color: var(--chartogram-content-color-lighter);
	transition: color var(--chartogram-night-mode-transition-duration);
}

.chartogram__y {
	position: absolute;
	left: 0;
	bottom: var(--chartogram-y-axis-labels-padding-bottom);
	height: 100%;
	line-height: 1em;
	display: flex;
	justify-content: space-between;
	flex-direction: column-reverse;
	/* So that hovering the Y axis doesn't result in 'pointerleave' event on canvas. */
	pointer-events: none;
}

.chartogram__y__label {
	margin-left: calc(-1 * var(--chartogram-font-size) / 6);
	margin-right: calc(-1 * var(--chartogram-font-size) / 6);
	margin-top: calc(-1 * var(--chartogram-font-size) / 12);
	margin-bottom: calc(-1 * var(--chartogram-font-size) / 12);
	padding-left: calc(var(--chartogram-font-size) / 6);
	padding-right: calc(var(--chartogram-font-size) / 6);
	padding-top: calc(var(--chartogram-font-size) / 12);
	padding-bottom: calc(var(--chartogram-font-size) / 12);
	border-top-right-radius: calc(var(--chartogram-font-size) / 3);
	border-bottom-right-radius: calc(var(--chartogram-font-size) / 3);
	background-color: var(--chartogram-background-color);
	transition: background-color var(--chartogram-night-mode-transition-duration);
}

.chartogram__y-wrapper {
	position: absolute;
	left: 0;
	bottom: 0;
	height: calc(100% + 1em);
}

.chartogram__x {
	position: absolute;
	left: 0;
	right: 0;
	bottom: calc(-1 * (1em + var(--chartogram-x-axis-labels-padding-top)));
	display: flex;
	justify-content: space-between;
	padding-top: var(--chartogram-x-axis-labels-padding-top);
	padding-left: 0.7em;
	padding-right: 0.7em;
	line-height: 1em
}

.chartogram__graph {
	stroke-width: var(--chartogram-stroke-width-bold);
	/* `vector-effect` fixes `stroke-width` to be in screen pixels. */
	/* (instead of <svg/> `viewBox` units) */
	/* `vector-effect` is not supported in Edge and IE but */
	/* it's purely a presentational tweak and doesn't affect operation. */
	vector-effect: non-scaling-stroke;
	stroke-linejoin: round;
	stroke-linecap: round;
}

.chartogram__grid-line {
	stroke: var(--chartogram-content-color-very-light);
	transition: stroke var(--chartogram-night-mode-transition-duration);
	stroke-width: var(--chartogram-stroke-width-light);
	/* `vector-effect` fixes `stroke-width` to be in screen pixels. */
	/* (instead of <svg/> `viewBox` units) */
	/* `vector-effect` is not supported in Edge and IE but */
	/* it's purely a presentational tweak and doesn't affect operation. */
	vector-effect: non-scaling-stroke;
}

.chartogram__grid-line:first-child {
	stroke: var(--chartogram-content-color-very-light);
}

.chartogram__tooltip {
	position: absolute;
	top: 0;
	border-radius: 0.35em;
	padding-top: 0.6em;
	padding-bottom: 0.5em;
	padding-left: 0.85em;
	padding-right: 0.85em;
	box-shadow: 0 1px 0.2em rgba(0,0,0,0.18);
	background-color: var(--chartogram-tooltip-background-color);
	z-index: 1;
	/* So that hovering it doesn't result in 'pointerleave' event on canvas. */
	pointer-events: none;
}

.chartogram__tooltip-header {
	font-weight: bolder;
	font-size: 110%;
	margin-top: 0;
	margin-bottom: 0;
	white-space: nowrap;
}

.chartogram__tooltip-values {
	list-style: none;
	margin: 0;
	padding: 0;
}

.chartogram__tooltip-values li {
	display: inline-block;
	margin-right: 1.5em;
	margin-top: 0.8em;
}

.chartogram__tooltip-values li:last-child {
	margin-right: 0;
}

.chartogram__tooltip-values li div:first-child {
	font-weight: bolder;
	font-size: 125%;
}

.chartogram__tooltip-values li div:last-child {
	margin-left: 0;
	margin-top: 0.1em;
}

.chartogram__tooltip-point {
	position: absolute;
	width: calc(var(--chartogram-stroke-width-bold) * 3);
	height: calc(var(--chartogram-stroke-width-bold) * 3);
	box-shadow: 0 0 0 var(--chartogram-stroke-width-bold) currentColor;
	border-radius: 50%;
	background-color: var(--chartogram-background-color);
	transform: translateX(-50%) translateY(50%);
	/* So that hovering it doesn't result in 'pointerleave' event on canvas. */
	pointer-events: none;
}

.chartogram__tooltip-line {
	stroke: var(--chartogram-content-color-light);
	stroke-width: var(--chartogram-stroke-width-light);
	/* `vector-effect` fixes `stroke-width` to be in screen pixels. */
	/* (instead of <svg/> `viewBox` units) */
	/* `vector-effect` is not supported in Edge and IE but */
	/* it's purely a presentational tweak and doesn't affect operation. */
	vector-effect: non-scaling-stroke;
}

.chartogram__timeline {
	position: relative;
	height: 3.6em;
	margin-top: 1.5em;
	/* Prevent the web browser from handling this touch event. */
	/* https://developer.mozilla.org/en-US/docs/Web/CSS/touch-action */
	/* iOS Safari only supports `none` and `manipulation`. */
	/* https://caniuse.com/#search=touch-action */
	touch-action: none;
	touch-action: pan-y pinch-zoom;
}

.chartogram__timeline-overlay-left,
.chartogram__timeline-overlay-right {
	position: absolute;
	left: 0;
	right: 0;
	height: 100%;
	background-color: var(--chartogram-timeline-overlay-color);
	transition: background-color var(--chartogram-night-mode-transition-duration);
}

.chartogram__timeline-window {
	position: absolute;
	left: 0;
	right: 0;
	height: 100%;
	transition: border-color var(--chartogram-night-mode-transition-duration);
	border: 1px solid var(--chartogram-timeline-window-border-color);
	border-left-width: 0.4em;
	border-right-width: 0.4em;
	box-sizing: border-box;
}

.chartogram__timeline-window__drag {
	position: absolute;
	width: 100%;
	height: 100%;
}

.chartogram__timeline-window__left-handle,
.chartogram__timeline-window__right-handle {
	position: absolute;
	padding-left: 0.6em;
	padding-right: 0.6em;
	height: 100%;
	cursor: ew-resize;
	transition: background-color var(--chartogram-night-mode-transition-duration);
}

.chartogram__timeline-window__left-handle {
	left: calc(-1 * 0.4em / 2 - 0.6em);
}

.chartogram__timeline-window__right-handle {
	right: calc(-1 * 0.4em / 2 - 0.6em);
}

.chartogram__timeline-window__drag {
	cursor: grab;
}

.chartogram__timeline-window__drag:active {
	cursor: grabbing;
}

.chartogram__timeline-canvas-padding {
	position: absolute;
	width: 100%;
	height: 100%;
	padding-top: 3px;
	padding-bottom: 3px;
	box-sizing: border-box;
	/* Crop timeline graph on left and right sides. */
	overflow: hidden;
}

.chartogram__timeline-canvas {
	width: 100%;
	height: 100%;
	/* Don't crop timeline graph on top and bottom. */
	overflow: visible;
}

.chartogram__timeline-canvas .chartogram__graph {
	stroke-width: var(--chartogram-stroke-width-normal);
}

.chartogram__chart-togglers {
	display: flex;
	flex-wrap: wrap;
}

.chartogram__chart-toggler {
	display: flex;
	align-items: center;
	height: 2.3em;
	margin-top: 1.1em;
	line-height: 0;
	padding-left: 0.5em;
	padding-right: 0.8em;
	margin-right: 1em;
	border-radius: 1.1em;
	box-shadow: 0 0 2px var(--chartogram-content-color-lighter);
	font-family: inherit;
	font-size: 140%;
	transition: color var(--chartogram-night-mode-transition-duration), box-shadow var(--chartogram-night-mode-transition-duration);;
}

.chartogram__chart-toggler:last-child {
	margin-right: 0;
}

.chartogram__chart-toggler:active {
	background-color: var(--chartogram-button-active-color);
}

.chartogram__chart-toggler-check {
	width: 1.4em;
	height: 1.4em;
	margin-right: 0.7em;
}

.chartogram__chart-toggler-check-mark,
.chartogram__chart-toggler-check-circle {
	transition: transform 150ms, fill var(--chartogram-night-mode-transition-duration);
	transform-origin: center center;
}

.chartogram__chart-toggler-check-mark {
	/*
	Internet Explorer 11 doesn't support SVG transforms set via CSS.
	https://stackoverflow.com/questions/21298338/css-transform-on-svg-elements-ie9
	*/
	/*transform: scale(0);*/
}

.chartogram__chart-toggler-check-circle {
	/*
	Internet Explorer 11 doesn't support SVG transforms set via CSS.
	https://stackoverflow.com/questions/21298338/css-transform-on-svg-elements-ie9
	*/
	/*transform: scale(1);*/
	fill: var(--chartogram-background-color);
}

/*
Internet Explorer 11 doesn't support SVG transforms set via CSS.
https://stackoverflow.com/questions/21298338/css-transform-on-svg-elements-ie9
*/
/*
.chartogram__chart-toggler--on .chartogram__chart-toggler-check-mark {
	transform: scale(1);
}
.chartogram__chart-toggler--on .chartogram__chart-toggler-check-circle {
	transform: scale(0);
}
*/